<!DOCTYPE html>
<html lang="en">

<head>
  <title>Cars</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/cars.js"></script>
</head>

<body>
  <h1>Cars</h1>
  <form id="price-filter-form">
    <input type="number" name="min_price" min="0" placeholder="minimum" />
    <input type="number" name="max_price" min="0" placeholder="maximum" />
    <button id="price-filter" type="submit">Apply</button>
  </form>
  <div id="cars"></div>

</body>

</html>
