body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
}

#price-filter-form{
  display:flex;
  align-items: center;
  justify-content: center;
}

.min{
  width: 100%;
  max-width: 700px;
  background: lightgrey;
  display:flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;

}

.max{
  width: 100%;
  max-width: 700px;
  background: lightgrey;
  display:flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
}


#price-filter-form button{
  border-radius: 50%;
  height: 50px  ;
}
